html,
body,
div,
image,
h1,
p,
a {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  zoom: 100%
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	text-align:;
	text-shadow: ;
	
}
.content {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  top: 8px;
  right: 190px;
  font-size: 16px;
  text-align: justify;
}

.content2 {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  top: 8px;
  left: 910px;  
  font-size: 16px;
}

.secret {
  position: relative;
  top: 30%;
  z-index: 3;
  margin: 0 auto;
  max-width: 720px;
  top: 10px;
  left: 740px;  
  font-size: 8px;
}

.content__heading {
  margin-bottom: 24px;
  color: rgb(39,39,39);
  font-size: 44px;
}

.content__teaser {
  margin-bottom: 24px;
  color: rgb(89,89,89);
  font-size: 22px;
}

.content__cta {
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
  color: rgb(255,60,100);
  font-size: 22px;
  text-decoration: none;
  border: solid 4px rgb(255,60,100);
}

.video {
  position: fixed;
  top: 50%; left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
}

.videoWrapper > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

  left: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: ;
    overflow: hidden;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: ;
    text-align: ;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color:;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: ;
    color: black;
}
